.Container {
  width: 100%;
  /* height: 2074px; */
  background: linear-gradient(to bottom, #c79439 0%, #c79439 79%, #171715 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.AppTitle {
  margin-bottom: 20px;
  text-align: center;
}
.titlePage {
  text-align: center;
  margin-top: 55px;
  font-family: 'JockeyOne';
  font-weight: bolder;
  font-size: 80px;
  color: #fdf8f8;
}
.imgUnderLine {
  height: 15px;
  width: 120px;
}

.containerBtnFilter {
  width: 660px;
  height: 67px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BtnFilter {
  width: 116px;
  margin: 0 5px;
  height: 67px;
  font-family: 'Inter';
  font-size: 30px;
  color: #ffffff;
  background-color: #61481c;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 50px;
  box-shadow: 5px 10px 10px 0px rgba(0, 0,  0, 0.02) !important;
}
.BtnFilter:hover {
  background-color: #2d200a;
  border: 1px solid #353027;
  color: #ffffff;
}
.activeBtn {
  background-color: #ffffff;
  width: 116px;
  margin: 0 5px;
  height: 67px;
  font-family: 'Inter';
  font-size: 30px;
  color: #61481c;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 50px;
  box-shadow: 5px 10px 10px 0px rgba(0, 0,  0, 0.02) !important;
}
.btnFilterActive {
  background-color: #ffffff;
  color: #61481c;
}
.card {
  width: 380px;
  height: 400px;
  font-size: 80px;
  position: relative;
  font-family: 'JockeyOne';
  position: relative;
}
.containerCards {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}
.cardParent {
  padding-left: 10px;
  background-color: #d9d9d9;
  width: 92%;
  position: absolute;
  bottom: 0 !important;
  left: 0 !important;
  height: 88%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  /* position: relative; */
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.titleCard {
  margin-top: 55px;
  font-family: 'JockeyOne';
  font-size: 38px;
}
.descriptionCard {
  font-family: 'Inter';
  font-size: 20px;
  width: 90%;
}
.containerRating {
  display: flex;
  align-items: center;
  justify-content: center;
}
.starRating {
  /* color: #c79439; */
  width: 19.17px;
  height: 18.21px;
}
.numberRating {
  font-family: 'Inter';
  font-size: 17px;
  font-weight: bolder;
  color: #a47e3b;
}
.containerTime {
  width: 125px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.watch {
  width: 16px;
  height: 16px;
}
.time {
  width: 101px;
  height: 21px;
  font-family: 'Inter';
  font-weight: bolder;
  font-size: 17px;
  color: #a47e3b;
}
.price {
  font-size: 35px;
  height: 49px;
  width: 83px;
  font-family: 'JockeyOne';
  font-weight: bolder;
  color: #61481c;
}
.photoMeal {
  height: 130px;
  width: 191px;
  position: absolute;
  top: 0;
  right: 0;
}
.btnOrder {
  position: absolute;
  bottom: 0;
  background-color: #a47e3b;
  right: 0;
  color: #fdf8f8;
  width: 142px;
  height: 68px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 19px;
  /* text-transform: uppercase; */
  border-radius: 50px 0px 50px 0px;
  -webkit-border-radius: 50px 0px 50px 0px;
  -moz-border-radius: 50px 0px 50px 0px;
  -ms-border-radius: 50px 0px 50px 0px;
  -o-border-radius: 50px 0px 50px 0px;
}
.btnOrder:hover{
   background-color: #6f5316;
}
.lineHor {
  position: absolute;
  width: 90%;
  height: 2px;
  background-color: #bf9742;
  top: 0;
  right: 0;
  margin-top: 10px;
}
.lineVert {
  position: absolute;
  height: 75%;
  background-color: #bf9742;
  width: 2px;
  top: 0;
  right: 0 !important;
  margin-right: 20px;
}
.btnShowMore {
  width: 446px;
  height: 72px;
  background-color: #61481c;
  color: #ffffff;
  margin: 20px;
  text-transform: capitalize;
  border-radius: 50px;
  margin-bottom: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.btnShowMore:hover{
   background-color: #3f2e0a !important;
}
/* .App-Card-for-line{
  width: 100%;
  height: 100%;
  position: relative;
} */

/* --------- Mobile S --------- */
@media (max-width: 320px) {
  .titlePage {
    font-size: 25px;
  }

  .containerBtnFilter {
    width: 95%;
    margin: 10px !important;
    height: 67px;
    margin-top: 5px;
  }
  .BtnFilter {
    width: 40px;
    height: 40px;
    font-size: 12px;
  }
  .activeBtn {
    height: 40px;
    font-size: 12px;
  }
  .btnFilterActive {
    background-color: #ffffff;
    color: #61481c;
  }
  .card {
    width: 300px;
    height: 350px;
    font-size: 15px;
    position: relative;
    font-family: 'JockeyOne';
    position: relative;
  }
  .containerCards {
    padding: 10px;
  }

  .cardParent {
    width: 92%;
  }
  .titleCard {
    margin-top: 45px;

    font-size: 22px;
  }
  .descriptionCard {
    font-size: 15px;
    width: 90%;
  }

  .photoMeal {
    height: 120px;
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .btnShowMore {
    width: 50%;
  }
}

/* ============================================= */
/* --------- Mobile M --------- */
@media (min-width: 321px) and (max-width: 375px) {
  .titlePage {
    font-size: 30px;
  }
  .containerBtnFilter {
    width: 95%;
    height: 67px;
    margin-top: 5px;
  }
  .BtnFilter {
    width: 55px;
    height: 50px;
    font-size: 15px;
  }
  .activeBtn {
    width: 55px;
    height: 50px;
    font-size: 15px;
  }
  .btnFilterActive {
    background-color: #ffffff;
    color: #61481c;
  }
  .card {
    width: 300px;
    height: 350px;
    font-size: 15px;
    position: relative;
    font-family: 'JockeyOne';
    position: relative;
  }
  .containerCards {
    padding: 10px;
  }

  .cardParent {
    width: 92%;
  }
  .titleCard {
    margin-top: 50px;
    font-size: 22px;
  }
  .descriptionCard {
    font-size: 15px;
    width: 85%;
    margin-top: 10px;
  }

  .photoMeal {
    height: 120px;
    width: 170px;
  }

  .btnShowMore {
    width: 50%;
  }
}
/* ============================================= */
/* --------- Mobile L --------- */
@media (min-width: 376px) and (max-width: 450px) {
  .titlePage {
    font-size: 24px;
  }
  .imgUnderLine {
    height: 15px;
    width: 120px;
  }
  .containerBtnFilter {
    width: 95%;
    height: 67px;
    margin-top: 5px;
  }
  .activeBtn {
    width: 60px;
    height: 50px;
    font-size: 15px;
  }
  .BtnFilter {
    width: 60px;
    height: 50px;
    font-size: 15px;
  }
  .btnFilterActive {
    background-color: #ffffff;
    color: #61481c;
  }
  .card {
    width: 340px;
    height: 350px;
    font-size: 18px;
    position: relative;
    font-family: 'JockeyOne';
    position: relative;
  }
  .containerCards {
    padding: 10px;
  }

  .cardParent {
    width: 92%;
  }
  .title-Card {
    margin-top: 10px;
    font-size: 25px;
  }
  .descriptionCard {
    margin-top: 10px !important;
    font-size: 14px;
    width: 90%;
  }

  .photoMeal {
    height: 120px;
    width: 150px;
  }

  .btnShowMore {
    width: 50%;
  }
}
/* ============================================= */
/* --------- Tablet --------- */
@media (min-width: 451px) and (max-width: 768px) {
  .titlePage {
    font-size: 38px;
  }
  .imgUnderLine {
    height: 18px;
    width: 150px;
  }
  .containerBtnFilter {
    width: 90%;
    height: 67px;
    margin-top: 5px;
  }
  .BtnFilter {
    width: 70px;
    height: 50px;
    font-size: 15px;
  }
  .activeBtn {
    width: 70px;
    height: 50px;
    font-size: 15px;
  }
  .btnFilterActive {
    background-color: #ffffff;
    color: #61481c;
  }

  .containerCards {
    padding: 10px;
  }

  .cardParent {
    width: 92%;
  }
  .titleCard {
    margin-top: 40px;
    font-size: 25px;
  }
  .descriptionCard {
    font-size: 15px;
    width: 85%;
    margin-top: 20px;
  }

  .photoMeal {
    height: 140px;
    width: 170px;
  }

  .btnShowMore {
    width: 50%;
  }
  .card {
    width: 340px;
    height: 350px;
   
  }
}
/* ============================================= */
/* --------- Laptop S --------- */
@media (min-width: 769px) and (max-width: 1024px) {
  .titlePage {
    font-size: 40px;
  }
  .imgUnderLine {
    height: 18px;
    width: 150px;
  }
  .containerBtnFilter {
    width: 90%;
    height: 67px;
    margin-top: 5px;
  }
  .BtnFilter {
    width: 100px;
    height: 50px;
    font-size: 15px;
  }
  .activeBtn {
    width: 100px;
    height: 50px;
    font-size: 15px;
  }
  .btnFilterActive {
    background-color: #ffffff;
    color: #61481c;
  }
  .card {
    width: 390px;
    height: 400px;
    font-size: 15px;
    position: relative;
    font-family: 'JockeyOne';
    position: relative;
  }
  .containerCards {
    padding: 10px;
  }

  .cardParent {
    width: 92%;
  }
  .titleCard {
    margin-top: 50px;
    font-size: 25px;
  }
  .descriptionCard {
    font-size: 20px;
    margin-top: 20px;
    width: 85%;
  }

  .photoMeal {
    height: 158px;
    width: 191px;
  }

  .btnShowMore {
    width: 50%;
  }
}
/* ============================================= */
/* --------- Laptop L --------- */
@media (min-width: 1025px) and (max-width: 1440px) {
  .imgUnderLine {
    height: 18px;
    width: 220px;
  }
  .titlePage {
    font-size: 60px;
  }
}
/* ============================================= */
/* --------- Desktop --------- */
@media (min-width: 1441px) and (max-width: 1824px) {
  .imgUnderLine {
    height: 18px;
    width: 250px;
  }
  .titlePage {
    font-size: 70px;
  }
}
/* ============================================= */
/* --------- Big Screen --------- */
@media (min-width: 1825px) {
  .imgUnderLine {
    height: 18px;
    width: 300px;
  }
  .titlePage {
    font-size: 80px;
  }
}
