.Container {
  width: 100%;
  /* height: 2074px; */
  background: linear-gradient(to bottom, #c79439 0%, #c79439 79%, #171715 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.title-page {
  /* width: 281px; */
  height: 112px;
  margin-top: 55px;
  font-family: 'JockeyOne';
  font-weight: bolder;
  font-size: 80px;
  color: #fdf8f8;
}
.card {
  width: 455px;
  height: 433px;
  font-size: 80px;
  position: relative;
  font-family: 'JockeyOne';
  position: relative;
}
.containerCards {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}
.container-btn-filter {
  width: 660px;
  height: 67px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-btn-filter button {
  width: 116px;
  margin: 0 5px;
  height: 67px;
  font-family: 'Inter';
  font-size: 30px;
  color: #ffffff;
  background-color: #61481c;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 50px;
  box-shadow: 5px 10px 10px 0px rgba(0, 0,  0, 0.02) !important;
}
.btnFilterActive {
  background-color: #ffffff;
  color: #61481c;
}
.card-parent {
  padding-left: 10px;
  background-color: #d9d9d9;
  width: 422px;
  position: absolute;
  bottom: 0 !important;
  left: 0 !important;
  height: 381px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  /* position: relative; */
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.title-Card {
  margin-top: 55px;
  font-family: 'JockeyOne';
  font-size: 38px;
}
.description-card {
  font-family: 'Inter';
  font-size: 20px;
  width: 70%;
}
.container-rating {
  display: flex;
  align-items: center;
  justify-content: center;
}
.star-rating {
  /* color: #c79439; */
  width: 19.17px;
  height: 18.21px;
}
.number-rating {
  font-family: 'Inter';
  font-size: 17px;
  font-weight: bolder;
  color: #a47e3b;
}
.container-time {
  width: 125px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.watch {
  width: 16px;
  height: 16px;
}
.time {
  width: 101px;
  height: 21px;
  font-family: 'Inter';
  font-weight: bolder;
  font-size: 17px;
  color: #a47e3b;
}
.price {
  font-size: 35px;
  height: 49px;
  width: 83px;
  font-family: 'JockeyOne';
  font-weight: bolder;
  color: #61481c;
}
.photo-meal {
  height: 158px;
  width: 191px;
  position: absolute;
  top: 0;
  right: 0;
}
.btn-order {
  position: absolute;
  bottom: 0;
  background-color: #a47e3b;
  right: 0;
  color: #fdf8f8;
  width: 142px;
  height: 68px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 19px;
  text-transform: uppercase;
  border-radius: 50px 0px 50px 0px;
  -webkit-border-radius: 50px 0px 50px 0px;
  -moz-border-radius: 50px 0px 50px 0px;
  -ms-border-radius: 50px 0px 50px 0px;
  -o-border-radius: 50px 0px 50px 0px;
}
.line-hor {
  height: 234.63px;
  width: 1px;
  background-color: #bf9742;
}
.line-vert {
  height: 1px;
  background-color: #bf9742;
  width: 222px;
}
.btn-show-more {
  width: 446px;
  height: 72px;
  background-color: #61481c;
  color: #ffffff;
  margin: 20px;
  text-transform: capitalize;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
/* .App-Card-for-line{
  width: 100%;
  height: 100%;
  position: relative;
} */

/* --------- Mobile S --------- */
@media (max-width: 320px) {
  .title-page {
    font-size: 40px;
  }
  .container-btn-filter {
    width: 95%;
    margin: 10px !important;
    height: 67px;
    margin-top: 5px;
  }
  .container-btn-filter button {
    width: 40px;
    height: 40px;
    font-size: 12px;
  }
  .btnFilterActive {
    background-color: #ffffff;
    color: #61481c;
  }
  .card {
    width: 300px;
    height: 433px;
    font-size: 15px;
    position: relative;
    font-family: 'JockeyOne';
    position: relative;
  }
  .containerCards {
    padding: 10px;
  }

  .card-parent {
    width: 95%;
  }
  .title-Card {
    margin-top: 90px;

    font-size: 20px;
  }
  .description-card {
    font-size: 15px;
    width: 90%;
  }

  .photo-meal {
    height: 120px;
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .line-hor {
    height: 234.63px;
    width: 1px;
    background-color: #bf9742;
  }
  .line-vert {
    height: 1px;
    background-color: #bf9742;
    width: 222px;
  }
  .btn-show-more {
    width: 50%;
  }
}

/* ============================================= */
/* --------- Mobile M --------- */
@media (min-width: 321px) and (max-width: 375px) {
  .title-page {
    font-size: 50px;
  }
  .container-btn-filter {
    width: 95%;
    height: 67px;
    margin-top: 5px;
  }
  .container-btn-filter button {
    width: 55px;
    height: 50px;
    font-size: 15px;
  }
  .btnFilterActive {
    background-color: #ffffff;
    color: #61481c;
  }
  .card {
    width: 300px;
    height: 433px;
    font-size: 15px;
    position: relative;
    font-family: 'JockeyOne';
    position: relative;
  }
  .containerCards {
    padding: 10px;
  }

  .card-parent {
    width: 95%;
  }
  .title-Card {
    margin-top: 90px;
    font-size: 20px;
  }
  .description-card {
    font-size: 15px;
    width: 85%;
  }

  .photo-meal {
    height: 140px;
    width: 170px;
  }

  .line-hor {
    height: 234.63px;
    width: 1px;
    background-color: #bf9742;
  }
  .line-vert {
    height: 1px;
    background-color: #bf9742;
    width: 222px;
  }
  .btn-show-more {
    width: 50%;
  }
}
/* ============================================= */
/* --------- Mobile L --------- */
@media (min-width: 376px) and (max-width: 425px) {
  .title-page {
    font-size: 60px;
  }
  .container-btn-filter {
    width: 95%;
    height: 67px;
    margin-top: 5px;
  }
  .container-btn-filter button {
    width: 60px;
    height: 50px;
    font-size: 15px;
  }
  .btnFilterActive {
    background-color: #ffffff;
    color: #61481c;
  }
  .card {
    width: 350px;
    height: 433px;
    font-size: 18px;
    position: relative;
    font-family: 'JockeyOne';
    position: relative;
  }
  .containerCards {
    padding: 10px;
  }

  .card-parent {
    width: 95%;
  }
  .title-Card {
    margin-top: 90px;
    font-size: 22px;
  }
  .description-card {
    font-size: 18px;
    width: 80%;
  }

  .photo-meal {
    height: 160px;
    width: 190px;
  }

  .line-hor {
    height: 234.63px;
    width: 1px;
    background-color: #bf9742;
  }
  .line-vert {
    height: 1px;
    background-color: #bf9742;
    width: 222px;
  }
  .btn-show-more {
    width: 50%;
  }
}
/* ============================================= */
/* --------- Tablet --------- */
@media (min-width: 426px) and (max-width: 768px) {
  .title-page {
    font-size: 70px;
  }
  .container-btn-filter {
    width: 90%;
    height: 67px;
    margin-top: 5px;
  }
  .container-btn-filter button {
    width: 70px;
    height: 50px;
    font-size: 15px;
  }
  .btnFilterActive {
    background-color: #ffffff;
    color: #61481c;
  }
  .card {
    width: 300px;
    height: 433px;
    font-size: 15px;
    position: relative;
    font-family: 'JockeyOne';
    position: relative;
  }
  .containerCards {
    padding: 10px;
  }

  .card-parent {
    width: 95%;
  }
  .title-Card {
    margin-top: 90px;
    font-size: 20px;
  }
  .description-card {
    font-size: 15px;
    width: 85%;
  }

  .photo-meal {
    height: 140px;
    width: 170px;
  }

  .line-hor {
    height: 234.63px;
    width: 1px;
    background-color: #bf9742;
  }
  .line-vert {
    height: 1px;
    background-color: #bf9742;
    width: 222px;
  }
  .btn-show-more {
    width: 50%;
  }
  
}
/* ============================================= */
/* --------- Laptop S --------- */
@media (min-width: 769px) and (max-width: 1024px) {
  .title-page {
    font-size: 80px;
  }
  .container-btn-filter {
    width: 90%;
    height: 67px;
    margin-top: 5px;
  }
  .container-btn-filter button {
    width: 100px;
    height: 50px;
    font-size: 15px;
  }
  .btnFilterActive {
    background-color: #ffffff;
    color: #61481c;
  }
  .card {
    width: 390px;
    height: 433px;
    font-size: 15px;
    position: relative;
    font-family: 'JockeyOne';
    position: relative;
  }
  .containerCards {
    padding: 10px;
  }

  .card-parent {
    width: 95%;
  }
  .title-Card {
    margin-top: 90px;
    font-size: 25px;
  }
  .description-card {
    font-size: 20px;
    width: 85%;
  }

  .photo-meal {
    height: 158px;
    width: 191px;
  }

  .line-hor {
    height: 234.63px;
    width: 1px;
    background-color: #bf9742;
  }
  .line-vert {
    height: 1px;
    background-color: #bf9742;
    width: 222px;
  }
  .btn-show-more {
    width: 50%;
  }
}
/* ============================================= */
/* --------- Laptop L --------- */
@media (min-width: 1025px) and (max-width: 1440px) {
}
/* ============================================= */
/* --------- Desktop --------- */
@media (min-width: 1441px) and (max-width: 1824px) {
}
/* ============================================= */
/* --------- Big Screen --------- */
@media (min-width: 1825px) {
}
