@keyframes slideInFromLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}
  to {
    transform: translateX(0);
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
}

.AppHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100dvw !important;
  position: relative;
  padding-top: 24px;
  height: 52px;
  position: fixed !important;
  /* margin-bottom: 850px !important; */
  top: 0;
  left: 0;
  background-color: #171715;
  padding-bottom: 25px;
  z-index: 99;
}

.Logo {
  margin-left: 20px;
  font-size: 38px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Lobster_Two';
}
.HeaderStyle {
  height: 52px;
  display: flex;
  justify-content: space-around !important;
  align-items: center;
  width: 90%;
}
.AiFillCloseCircle{
  cursor: pointer;
}
.Image {
  border-radius: 50%;
  border: 1px solid #c79439;
  width: 43.01px;
  height: 43.01px;
}
.UserName {
  color: #ffffff;
  width: 93px;
  height: 24px;
  font-weight: 400;
  font-size: 20px;
}

.ItemHeader {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Inter';
  cursor: pointer;
}

.active{
  color: #bf9742;
}

.AppItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #bf9742;
  font-weight: 400;
  font-size: 20px;
  width: 470px !important;
}

.AppUserInfo {
  width: 152px;
  height: 52px;
  font-size: 20px;
  gap: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
}

.SearchInput {
  background-color: transparent;
  border: none;
  outline: none;
  /* padding-left:10px; */
  color: #ffffff;
  width: 80%;
}

.SearchInput::placeholder {
  color: #bf9742;
  padding-left: 20px;
}
.ContainerSearch {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #d9d9d9;
  width: 380px;
  border-radius: 15px;
}
.StyleAppMobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #2e2727;
  height: 100% !important;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  animation: slideInFromLeft 0.8s linear;
  -webkit-animation: slideInFromLeft 0.8s linear;
}
.Menu {
  position: absolute;
  padding-top: 7px;
  top: 0;
  right: 0;
  margin-right: 20px;
  cursor: pointer;
}

.AppUserNameAndCloseIcon {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* --------- Mobile S --------- */
@media (mxa-width: 320px) {
  .AppHeader {
   padding-top: 5px;
}
  .AppItemHeader {
    display: flex;
    margin-top: 30px;
    height: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #bf9742;
    font-weight: 400;
    font-size: 20px;
    width: 420px;
  }
  .ContainerSearch {
    width: 250px;
  }
  .HeaderStyle {
    height: 52px;
    display: flex;
    justify-content: space-around !important;
    align-items: center;
    width: 80%;
  }
  .Menu {
    position: absolute;
    margin-right: 20px;
  }
  .Logo {
    position: absolute;
    margin-top: 10px;
  }
}
/* --------- Mobile M --------- */
@media (min-width: 321px) and (max-width: 375px) {
  .AppHeader {
   padding-top: 5px;
}
  .AppItemHeader {
    display: flex;
    margin-top: 30px;
    height: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #bf9742;
    font-weight: 400;
    font-size: 20px;
    width: 420px;
  }
  .ContainerSearch {
    width: 250px;
  }
  .Menu {
    position: absolute;
    margin-right: 20px;
  }
  .Logo {
    position: absolute;
     margin-top: 20px;
  }
}

/* --------- Mobile L --------- */
@media (min-width: 376px) and (max-width: 425px) {
  .AppHeader {
   padding-top: 5px;
}
  .AppItemHeader {
    display: flex;
    height: 50%;
    margin-top: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #bf9742;
    font-weight: 400;
    font-size: 20px;
    width: 420px;
  }
  .ContainerSearch {
    width: 250px;
  }
  .Menu {
    position: absolute;
    margin-right: 20px;
  }
  .Logo {
    position: absolute;
      margin-top: 20px;
  }
}

/* --------- Tablet --------- */
@media (min-width: 426px) and (max-width: 768px) {
  .AppHeader {
   padding-top: 5px;
}
  .AppItemHeader {
    display: flex;
    margin-top: 30px;
    height: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #bf9742;
    font-weight: 400;
    font-size: 20px;
    width: 420px;
  }
  .ContainerSearch {
    width: 250px;
  }
  .Menu {
    position: absolute;
    margin-right: 20px;
  }
  .Logo {
    position: absolute;
      margin-top: 20px;
  }
}

/* --------- Laptop S --------- */
@media (min-width: 769px) and (max-width: 1024px) {
  .AppHeader{
    padding-top: 20px !important;
  }
  .HeaderStyle {
    justify-content: space-between !important;
  }

  .Image {
    border-radius: 50%;
    border: 1px solid #c79439;
    width: 40px;
    height: 40px;
  }
  .UserName {
    width: 80px;
    font-size: 15px;
  }

  .ItemHeader {
    font-size: 15px;
  }
  .ItemHome {
    font-size: 15px;
  }

  .AppItemHeader {
    justify-content: space-around;
    font-size: 15px;
    width: 50% !important;
  }

  .AppUserInfo {
    width: 130px;
  }

  .ContainerSearch {
    width: 210px !important;
  }
  .StyleAppMobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #2e2727;
    height: 100% !important;
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    animation: slideInFromLeft 0.8s linear;
    -webkit-animation: slideInFromLeft 0.8s linear;
  }
    .AppHeader {
   padding-top: 10px;
   height: 52px;
}
}

/* --------- Laptop L --------- */
@media (min-width: 1025px) and (max-width: 1440px) {
  .ContainerSearch {
    width: 310px;
  }
}

/* --------- Desktop --------- */
@media (min-width: 1441px) and (max-width: 1824px) {
   .ContainerSearch {
    width: 350px;
  }
}

/* --------- Big Screen --------- */
@media (min-width: 1825px) {
   .ContainerSearch {
    width: 380px;
  }
}
