.containerTitle {
  margin: 0 0 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: 0;
  height: 10% !important;
  margin-bottom: 40px;
  margin-top: 0;
  /* padding-top: 50px; */
}
.titlePage {
  width: 100%;
  text-align: center;
  font-family: 'JockeyOne';
  font-weight: bolder;
  font-size: 80px !important;
  color: #fdf8f8;
}

.imgUnderLine {
  height: 20px;
}

/* --------- Mobile S --------- */
@media (max-width: 320px) {
  .titlePage {
    font-size: 25px !important;
  }
  .imgUnderLine {
    height: 5px;
    width: 120px;
  }
}

/* ============================================= */
/* --------- Mobile M --------- */
@media (min-width: 320px) and (max-width: 375px) {
  .titlePage {
    font-size: 30px !important;
  }
  .imgUnderLine {
    height: 10px;
    width: 250px;
  }
}
/* ============================================= */
/* --------- Mobile L --------- */
@media (min-width: 376px) and (max-width: 425px) {
  .titlePage {
    font-size: 30px !important;
  }
  .imgUnderLine {
    height: 15px;
    width: 300px;
  }
}
/* ============================================= */
/* --------- Tablet --------- */
@media (min-width: 426px) and (max-width: 768px) {
  .titlePage {
    font-size: 30px !important;
  }
  .imgUnderLine {
    height: 15px;
    width: 300px;
  }
}
/* ============================================= */
/* --------- Laptop S --------- */
@media (min-width: 769px) and (max-width: 1024px) {
  .titlePage {
    font-size: 30px !important;
  }
  .imgUnderLine {
    height: 20px;
    width: 300px;
  }
}
/* ============================================= */
/* --------- Laptop L --------- */
@media (min-width: 1025px) and (max-width: 1299px) {
  .titlePage {
    font-size: 40px !important;
  }
  .imgUnderLine {
    height: 20px;
    width: 190px;
    width: 450px;
  }
}
@media (min-width: 1300px) and (max-width: 1700px) {
  .titlePage {
    font-size: 60px !important;
  }
  .imgUnderLine {
    height: 20px;
    width: 550px;
  }
}
@media (min-width: 1701px) and (max-width: 2000px) {
  .imgUnderLine {
    height: 20px;
    width: 710px;
  }
}
/* ============================================= */
/* --------- Desktop --------- */
@media (min-width: 2001px) and (max-width: 20500px) {
  .imgUnderLine {
    height: 20px;
    width: 750px;
  }
}
@media (min-width: 1441px) and (max-width: 1824px) {
}
/* ============================================= */
/* --------- Big Screen --------- */
@media (min-width: 1825px) {
}
