* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.containerBtnOrder {
  /* width: 50%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  margin-bottom: 40px;
}
.btnOrderNow {
  color: #ffffff;
  font-family: 'Inter';
  width: 327px;
  height: 72px;
  background-color: #61481c;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.photoVector {
  margin-top: 30px;
  margin-left: 20px;
}


/* --------- Mobile S --------- */
@media (max-width: 320px) {
  
  .btnOrderNow {
    font-size: 15px;
    width: 115px;
    height: 35px;
  }
  

  .photoVector {
    width: 35px !important;
    height: 20px !important;
  }
}

/* ============================================= */
/* --------- Mobile M --------- */
@media (min-width: 320px) and (max-width: 375px) {


  
 
  .btnOrderNow {
    font-size: 20px;
    width: 130px;
    height: 35px;
  }
 
  .photoVector {
    width: 40px !important;
    height: 25px !important;
  }
}
/* ============================================= */
/* --------- Mobile L --------- */
@media (min-width: 376px) and (max-width: 425px) {
  

  
  .btnOrderNow {
    font-size: 20px;
    width: 150px;
    height: 40px;
  }
 

  .photoVector {
    width: 35px !important;
    height: 25px !important;
  }
}
/* ============================================= */
/* --------- Tablet --------- */
@media (min-width: 426px) and (max-width: 768px) {
 
  .btnOrderNow {
    font-size: 20px;
    width: 200px;
    height: 60px;
  }
  
  .photoVector {
    width: 50px !important;
    height: 25px !important;
  }
}
/* ============================================= */
/* --------- Laptop S --------- */
@media (min-width: 769px) and (max-width: 1024px) {

  
  .btnOrderNow {
    font-size: 20px;
    width: 150px;
    height: 40px;
  }
  
}
/* ============================================= */
/* --------- Laptop L --------- */
@media (min-width: 1025px) and (max-width: 1299px) {
  
  .btnOrderNow {
    color: #ffffff;
    font-family: 'Inter';
    width: 200px;
    height: 72px;
    background-color: #61481c;
    border-radius: 50px;
  }
}
@media (min-width: 1300px) and (max-width: 1700px) {
 
  .btnOrderNow {
    color: #ffffff;
    font-family: 'Inter';
    width: 250px;
    height: 72px;
    background-color: #61481c;
    border-radius: 50px;
  }
}
@media (min-width: 1701px) and (max-width: 2000px) {
 
  .btnOrderNow {
    color: #ffffff;
    font-family: 'Inter';
    width: 300px;
    height: 72px;
    background-color: #61481c;
    border-radius: 50px;
  }
}
/* ============================================= */
/* --------- Desktop --------- */
@media (min-width: 2001px) and (max-width: 20500px) {
 
  .btnOrderNow {
    color: #ffffff;
    font-family: 'Inter';
    width: 350px;
    height: 72px;
    background-color: #61481c;
    border-radius: 50px;
  }
}
@media (min-width: 1441px) and (max-width: 1824px) {
}
/* ============================================= */
/* --------- Big Screen --------- */
@media (min-width: 1825px) {
}
