.Container {
  width: 100%;
  /* height: 2074px; */
  background: #ffffff;
  display: flex;
  padding: 5px;
  flex-direction: column;

  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;

  width: 400px;
  z-index: 105;
}

.btnOrderNow {
  color: #ffffff;
  font-family: 'Inter';
  width: 200px;
  /*width: 327px;
  */
  padding: 0 30px;
  margin-top: 100px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3;
  background-color: #61481c;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media (max-width: 410px) {
  .Container {
    width: 90%;
  }
}
