* {
  padding: 0;
  margin: 0;
}
.Title {
  font-family: 'JockeyOne';
  font-weight: 400;
  width: 100%;
  text-align: center;
  /* font-size: 80px; */
  font-size: 80px;
  color: #ffffff;
  margin-top: 30px !important;
}

.AppContentFrame {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  direction: ltr;
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, #171715 0%, #171715 79%, #c79439 100%);

  height: 100dvh;
  width: 100%;
  /* height: 1240px; */
}

.ButtonOrder {
  box-shadow: 3px 4px #fefefe80;
  width: 250px;
  height: 50px;
  border-radius: 15px;
  gap: 10px;
  background-color: #bf9742;
  color: #ffffff;
  font-family: 'Inter';
  font-size: 30px;
}

.ImageStyle {
  width: 100%;
  height: 100%;
  animation: slideInFromLeft 0.8s forwards;
  -webkit-animation: slideInFromLeft 0.8s forwards;
}

.AppButtonOrder {
  display: flex;
  justify-content: space-between;
  /* width: 500px; */
  margin-top: 20px;
}

.ImgVector {
  width: 100px;
  height: 50px;
  padding: 20px 10px 0 20px;
  /* padding-top: 30px; */
}

.TastyThursdays {
  width: 180px;
  padding: 10px;
  height: 130px;
  position: relative;
  padding-top: 30px;
}
.Thursdays {
  font-size: 25;
  font-family: 'JockeyOne';
  font-weight: 400;
  color: #fdf8f8;
  animation: slideInFromLeft 0.5s forwards;
  -webkit-animation: slideInFromLeft 0.5s forwards;
}
.Off {
  font-size: 25px;
  font-family: 'JockeyOne';
  font-weight: 400;
  color: #bf9742;
  animation: slideInFromLeft 0.5s forwards;
  -webkit-animation: slideInFromLeft 0.5s forwards;
}
.ImagCircle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  /* padding: px; */
}
.ContainerSpan {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  margin: 0;
  padding: 10px;
}
.ContainerSpan {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  margin: 0;
  padding: 10px;
}
.SpanTreeDotToShowMeal {
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  cursor: pointer;
  /* background-color: #d9d9d9; */
  background-color: #bf9742;
}
.SpanText {
  width: 60%;
  font-size: 20px;
  color: #ffffff;
  font-family: 'Inter';
}
.container-btn-and-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
  height: 310px;
  margin-bottom: 0;
  padding: 0;
}
.AppImageStyle {
  position: absolute;
  bottom: 0;
  margin-right: 170px;
  height: 220px !important;
  width: 200px !important;
}
.SpanTreeDotToShowMealActive {
  background-color: #d9d9d9;
}
@keyframes slideInFromLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* --------- Mobile S --------- */
@media (max-width: 320px) {
  .Title {
    font-size: 30px;
    margin-top: 15px;
  }
  .AppContentFrame {
    padding: 0 2px 5px 2px;
    width: 100% !important;
    height: 100dvh;
  }
  .AppImageStyle {
    position: absolute;
    bottom: 10px;
    margin-right: 20px;
    height: 200px !important;
    width: 220px !important;
  }

  .ButtonOrder {
    margin: 5px;
    width: 90px;
    height: 50px;
    font-size: 13px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .AppButtonOrder {
    margin-top: 5px;
  }
  .ContainerSpan {
    width: 150px;
  }
  .ImgVector {
    width: 40px;
    height: 30px;
    padding: 10px 5px 0 5px;
    /* padding-top: 30px; */
  }

  .Thursdays {
    font-size: 15px !important;
  }
  .Off {
    font-size: 15px;
  }

  .SpanText {
    width: 95%;
    font-size: 13px;
    color: #ffffff;
    font-family: 'Inter';
  }
  .TastyThursdays {
    width: 120px;
    padding: 10px;
    height: 100px;
    position: relative;
    padding-top: 30px;
  }
}

/* ============================================= */
/* --------- Mobile M --------- */
@media (min-width: 321px) and (max-width: 375px) {
  .Title {
    font-size: 35px;
    margin-top: 10px;
  }
  .AppContentFrame {
    direction: ltr;
    position: relative;
    width: 100% !important;
    height: 100dvh;
  }

  .ButtonOrder {
    margin: 5px;
    width: 120px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .AppButtonOrder {
    margin-top: 10px;
  }

  .ImgVector {
    width: 50px !important;
    height: 40px !important;
    padding: 20px 10px 0 20px;
    /* padding-top: 30px; */
  }

  .TastyThursdays {
    width: 120px;
    padding: 5px;
    height: 120px;
    position: relative;
    padding-top: 30px;
  }
  .Thursdays {
    font-size: 18px !important;
  }
  .Off {
    font-size: 18px;
  }

  .SpanText {
    width: 98%;
    font-size: 15px;
    color: #ffffff;
    font-family: 'Inter';
  }
  .AppImageStyle {
    position: absolute;
    bottom: 0;
    margin-right: 20px;
    height: 200px !important;
    width: 250px !important;
  }
  .TastyThursdays {
    width: 100px;
    padding: 10px;
    height: 120px;
    position: relative;
    padding-top: 30px;
  }
}
/* ============================================= */
/* --------- Mobile L --------- */
@media (min-width: 376px) and (max-width: 425px) {
  .Title {
    font-size: 40px;
    margin-top: 10px;
  }
  .AppContentFrame {
    width: 100% !important;
    height: 100dvh;
  }

  .ButtonOrder {
    margin: 10px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .AppButtonOrder {
    margin-top: 10px;
  }
  .ImgVector {
    width: 90px;
    height: 50px;
    padding: 20px 10px 0 20px;
    /* padding-top: 30px; */
  }
  .Thursdays {
    font-size: 18px !important;
  }
  .Off {
    font-size: 18px;
  }
  .SpanText {
    width: 98% !important;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    font-family: 'Inter';
  }
  .AppImageStyle {
    position: absolute;
    bottom: 0;
    margin-right: 20px;
    height: 200px !important;
    width: 250px !important;
  }
  .TastyThursdays {
    width: 100px;
    padding: 10px;
    height: 120px;
    position: relative;
    padding-top: 30px;
  }
}
/* ============================================= */
/* --------- Tablet --------- */
@media (min-width: 426px) and (max-width: 768px) {
  .Title {
    font-size: 60px !important;
    margin-top: 10px;
  }
  .AppContentFrame {
    padding: 0 2px 10px 2px;
    width: 100% !important;
    height: 100dvh;
  }

  .ButtonOrder {
    margin: 10px;
    width: 160px;
    height: 50px;
    font-size: 23px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .AppButtonOrder {
    margin-top: 10px;
  }

  .ImgVector {
    width: 100px;
    height: 50px;
    padding: 20px 10px 0 20px;
    /* padding-top: 30px; */
  }

  .Thursdays {
    font-size: 20px !important;
  }
  .Off {
    font-size: 25px;
  }

  .SpanText {
    width: 93%;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Inter';
  }
  .Title {
    font-size: 50px !important;
    margin-top: 10px;
  }
  .AppImageStyle {
    position: absolute;
    bottom: 0;
    margin-right: 70px;
    height: 190px !important;
    width: 250px !important;
  }
  .TastyThursdays {
    width: 120px;
    padding: 10px;
    height: 140px;
    position: relative;
    padding-top: 30px;
  }
}
/* ============================================= */
/* --------- Laptop S --------- */
@media (min-width: 769px) and (max-width: 1024px) {
  .SpanText {
    width: 90% !important;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Inter';
  }
  .Title {
    font-size: 60px !important;
    margin-top: 10px;
  }

  .AppImageStyle {
    position: absolute;
    bottom: 0;
    margin-right: 70px;
    height: 220px !important;
    width: 300px !important;
    /* background-color: red; */
  }
  .TastyThursdays {
    width: 140px;
    padding: 10px;
    height: 160px;
    position: relative;
    padding-top: 30px;
  }
}
/* ============================================= */
/* --------- Laptop L --------- */
@media (min-width: 1025px) and (max-width: 1440px) {
  .SpanText {
    width: 85% !important;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Inter';
  }
  .Title {
    font-size: 70px !important;
    margin-top: 10px;
  }
  .AppImageStyle {
    height: 200px;
    width: 310px;
  }
  .AppImageStyle {
    position: absolute;
    bottom: 0;
    margin-right: 50px;
    height: 220px !important;
    width: 270px !important;
  }
  .AppImageStyle {
    position: absolute;
    bottom: 0;
    margin-right: 70px;
    height: 220px !important;
    width: 300px !important;
    /* background-color: red; */
  }
  .TastyThursdays {
    width: 140px;
    padding: 10px;
    height: 160px;
    position: relative;
    padding-top: 30px;
  }
}
/* ============================================= */
/* --------- Desktop --------- */
@media (min-width: 1441px) and (max-width: 1824px) {
}
/* ============================================= */
/* --------- Big Screen --------- */
@media (min-width: 1825px) {
}
